<component name="ArtifactManager">
  <artifact type="war" name="springboot-first-app:war">
    <output-path>$PROJECT_DIR$/springboot-first-app/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>springboot-first-app</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="springboot-first-app-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-first-app:war exploded" />
    </root>
  </artifact>
</component>